{% extends 'base_dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                {# Conținutul specific paginii aici #}
            </div>
        </div>
    </div>
{% endblock %}
